.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 129px;
}

.card img {
  width: 100%;
  height: auto;
}

.center {
  transform: scale(1.2);
}

.second {
  transform-origin: bottom right;
  rotate: -30deg;
}

.fourth {
  transform-origin: bottom left;
  rotate: 30deg;
}

.icon-container {
  z-index: 100;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.left {
  top: 50%;
  left: 38%;
}
.right {
  top: 50%;
  right: 38%;
}
.icons {
  width: 30px;
  height: 30px;
  z-index: 100;
  color: white;
}
